.benefits {
    list-style-type: none;
}

.benefits__item {
    display: inline;
    background-color: rgba(109, 109, 109, 0.322);
    padding: 3px 6px;
    border-radius: 20px;
}

.doc--theme-dark {
    background-color: #313233;
    color: #adadad;
}

.doc__link {
    background-color: rgba(109, 109, 109, 0.322);
    color: #adadad;
    padding: 2px 6px;

}

.block--scrollable {
    width: 100%;
    overflow: scroll;
}

.tb__row--even {
    background-color: rgba(109, 109, 109, 0.322)
}

.tb__row--heading {
    background-color: rgba(102, 102, 102, 0.719);
}

.tb__cell {
    text-align: center;
    padding: 4px;
}