:root {
  /* accent */
  --cardinal: #c71e40;
  --china-rose: #9a5665;

  /* main color */
  --anti-flash-white: #f2f6f6;
  --raisin-black: #31313e;

  /* aux */
  --battleship-gray: #888888;
  --platinum: #d3dcdc;

  /* nicknaming */

  /* accent */
  --red: var(--cardinal);
  --red-inactive: var(--china-rose);

  /* main */
  --dark: var(--raisin-black);
  --light: var(--anti-flash-white);

  /* aux */
  --gray: var(--battleship-gray);
  --gray-light: var(--platinum);
}
.footer {
  background-color: var(--dark);
  color: var(--light);
  text-align: center;
}

.float {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  position: sticky;
  bottom: 0;
  padding: 1em;
}

.menu {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  width: fit-content;
  gap: 1em;
  margin: 0;
  padding: 1em;
  list-style: none;
}

.menu--transparent {
  background-color: transparent;
}

.menu__link {
  border: 1px solid var(--light);
  color: var(--light);
  background-color: var(--cardinal);
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  padding: 0.4em;
}

.menu__link--transparent {
  background-color: transparent;
  border: none;
}

.menu__link--borderless {
  border: none;
}

.content {
  background-color: var(--dark);
  margin: 0;
}

.category__title {
  font-size: 30px;
}

.category__suggestion {
  font-size: 18px;
}

.category__explanation {
  font-size: 22px;
}

.category__term {
  font-size: 20px;
}

.category__caption {
  font-size: 20px;
}

.table {
  box-sizing: border-box;
  height: fit-content;
  border-radius: 4px;
  padding: 0.2em;
  background-color: var(--dark);
}

.table__row {
  background-color: var(--light);
}

.table__row--odd {
  background-color: var(--platinum);
}

.table__row--heading {
  text-align: center;
  font-size: 22px;
  color: var(--light);
  background-color: var(--dark);
}

.table__cell {
  padding: 0.2em 0.3em;
  font-size: 20px;
}

.category {
  background-color: var(--light);
  color: var(--dark);
  gap: 1em;
  justify-content: center;
  box-sizing: border-box;
  padding: 1em 2em;
  margin: 0;
}

.figure {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  overflow: scroll;
}

@media screen and (width > 600px) {
  .figure {
    min-width: fit-content;
  }
  .menu {
    background-color: var(--dark);
    padding: 1.4em;
    gap: 3em;
  }

  .category {
    text-align: justify;
  }
}

.header {
  padding: 0.4em;
}

.header__title {
  color: var(--light);
}

.header__quote {
  color: var(--light);
}

@media screen and (width > 900px) {
  .figure {
    padding: 2em;
    width: fit-content;
    max-width: 60vw;
    float: left;
  }

  .figure--odd {
    float: right;
  }

  .category__info {
    width: 49%;
  }
}

@media (prefers-color-scheme: dark) {
  .header__title {
    color: var(--light);
  }

  .header__quote {
    color: var(--light);
  }
  .content {
    background-color: var(--dark);
  }

  .category {
    color: var(--light);
    background-color: var(--dark);
  }

  .menu {
    background-color: var(--dark);
  }

  .table {
    background-color: var(--red-inactive);
  }

  .table__row {
    background-color: var(--dark);
  }

  .table__row--heading {
    background-color: var(--red-inactive);
    color: var(--dark);
  }

  .table__link {
    color: var(--light);
  }
}
