body {
    margin: 0;
}

article {
    color: rgb(14, 14, 95);
}

header {
    background-color: lavender;
    height: 30vh;
}

.concept {
    border-radius: 24px;
    background-color: yellow;
}

.conclusions {
    color: white;
    background-color: navy;
}